---
http_interactions:
- request:
    method: get
    uri: http://rgoc.roqua.dev/api/v1/patients/123/questionnaires/honos/answers
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      etag:
      - ! '"fb55d36d118ed0d82ea4c976a583d64c"'
      status:
      - '200'
      content-type:
      - application/json
    body: ! '[{"_id":"1239","active":true,"created_at":"2011-02-05T11:20:05Z","patient_id":"123","questionnaire_id":5,"questionnaire_key":"honos","test":null,"token":"9d87699c82ff64f9","updated_at":"2011-11-29T13:45:27Z","value":{},"value_by_values":{},"id":"1239","value_by_values":{},"scores":null,"is_completed":true},{"_id":"14097","active":true,"created_at":"2011-02-05T13:49:03Z","patient_id":"123","questionnaire_id":5,"questionnaire_key":"honos","test":null,"token":"ca871ceb4ec19a92","updated_at":"2011-11-29T13:46:26Z","value":{},"value_by_values":{},"id":"14097","value_by_values":{},"scores":null,"is_completed":true},{"_id":"15354","active":true,"created_at":"2011-03-17T11:07:19Z","patient_id":"123","questionnaire_id":5,"questionnaire_key":"honos","test":null,"token":"44a126e842541213","updated_at":"2011-11-29T13:46:29Z","value":{},"value_by_values":{},"id":"15354","value_by_values":{},"scores":null,"is_completed":true}]'
  recorded_at: Thu, 12 Jan 2012 15:24:32 GMT
recorded_with: VCR 2.0.0.rc1
